<!DOCTYPE html>

<html>

<head>
  <title>404 page</title>
  <link rel='icon' href='/img/weather.png'>
  <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
  <div class='main-content'>
    {{>header}}
    <div id='error404'>
      <p id='txt404'>404</p>
      {{>error404}}
    </div>

  </div>
  {{>footer}}
</body>

</html>